[submodule "repos/TanStack/router"]
	path = repos/TanStack/router
	url = git@github.com:TanStack/router.git
[submodule "repos/cloudflare/workers-sdk"]
	path = repos/cloudflare/workers-sdk
	url = git@github.com:cloudflare/workers-sdk.git
[submodule "repos/cloudflare/agents"]
	path = repos/cloudflare/agents
	url = git@github.com:cloudflare/agents.git
[submodule "repos/oxc-project/oxc"]
	path = repos/oxc-project/oxc
	url = git@github.com:oxc-project/oxc.git
[submodule "repos/vitejs/vite"]
	path = repos/vitejs/vite
	url = git@github.com:vitejs/vite.git
[submodule "konfik"]
	path = konfik
	url = git@github.com:crosshatch/konfik.git
[submodule "repos/cloudflare/workerd"]
	path = repos/cloudflare/workerd
	url = git@github.com:cloudflare/workerd.git
[submodule "repos/vitest-dev/vitest"]
	path = repos/vitest-dev/vitest
	url = git@github.com:vitest-dev/vitest.git
[submodule "repos/wevm/vocs"]
	path = repos/wevm/vocs
	url = git@github.com:wevm/vocs.git
[submodule "repos/changesets/changesets"]
	path = repos/changesets/changesets
	url = git@github.com:changesets/changesets.git
[submodule "repos/wakujs/waku"]
	path = repos/wakujs/waku
	url = git@github.com:wakujs/waku.git
[submodule "repos/Effect-TS/effect"]
	path = repos/Effect-TS/effect
	url = git@github.com:Effect-TS/effect.git
[submodule "repos/alchemy-run/alchemy"]
	path = repos/alchemy-run/alchemy
	url = git@github.com:alchemy-run/alchemy.git
